
<div class="container">
   <div class="about ptb-90">
      <h6 class="about-heading">
          About Me
         <p>Main informations about me</p>
       </h6>
     <div class="row">
        <div class="col col-lg-5">
                   <div class="box-border" appHoverMoveing >
                     <img src="assets/images/about.jpg" class="about-img" appHoverMoveing/>
                   </div>
          </div>
          <div class="col col-lg-7 about-text">
              <h4>I'm Sameer Gupta and <span class="desination">Full stack Developer</span></h4>
             <p>Hi! My name is <strong>Sameer Gupta</strong>. I am a Full Stack Developer, and I'm very passionate and dedicated to my work. With 3 years experience as a professional Web developer, 
              I have acquired the skills and knowledge necessary to make your project a success. I enjoy every step of the design process, from discussion and collaboration to concept and execution, 
              but I find the most satisfaction in seeing the finished product do everything for you that it was created to do.</p>

              <div class="about_short_contact_wrap">
                  <ul>
                    <li>
                      <span><label>Birthday:</label> 01.09.1993</span>
                    </li>
                    <li>
                      <span><label>Age:</label> 25</span>
                    </li><div class="clearfix"></div>
                    <li>
                      <span><label>City:</label> New Delhi, India</span>
                    </li>
                    <li>
                      <span><label>Interests:</label> Cricket, Logics</span>
                    </li><div class="clearfix"></div>
                    <li>
                      <span><label>Study:</label> A.P.S Degree Collage</span>
                    </li>
                    <li>
                      <span><label>Degree:</label> U.G</span>
                    </li><div class="clearfix"></div>	
                    <li>
                      <span><label>Website:</label> <a href="#">www.mywebsite.com</a></span>
                    </li>
                    <li>
                      <span><label>Mail:</label> <a href="javascript:void(0)">sameer.webdesigner456@gmail.com</a></span>
                    </li><div class="clearfix"></div>
                    <li>
                      <span><label>Phone:</label> <a href="javascript:void(0)">+7053490342</a></span>
                    </li>
                    <li>
                      <span><label>Alt-Phone:</label> <a href="javascript:void(0)">8193833611</a></span>
                    </li><div class="clearfix"></div>
                  </ul>
                </div>

                <div class="buttons_wrap">
                    <ul>
                      <li>
                        <a href="javascript:void(0)"><span>Download CV</span></a>
                      </li>
                      <li class="anchor">
                        <a href="javascript:void(0)"><span>Send Message</span></a>
                      </li>
                    </ul>
                  </div>
         </div>
     </div>
    
   </div>
</div>

<!---Pipes study material start-->

  <!-- {{ title | uppercase}}
  {{ title | lowercase}}
  {{ todaydate | date:'shortTime' }}
  {{ todaydate | date:'m/d/y' }}
  {{ months | slice:0:8 }}
  {{ 454.78787814 | number: '3.4-6' }}
  {{0.5 | percent}}
  {{6589.23 | currency:"GBP"}}
  {{6589.23 | currency:"EUR":true}}
  {{months | json}} -->

  <!---Pipes study material end-->